<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dynamicdrillers.sih2018admins">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".sihadmin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_google_api_key_" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminsRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StateAdminsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistrictAdminsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorityAdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegionsAdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorityAdminsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ComplaintsActivity" />
        <activity android:name=".ComplaintsDesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".AuthorityDashboardActivity" />

        <meta-data
            android:name="com.google.android.version"
            android:value="119110000" />

        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PdfGeneration"></activity>
    </application>

</manifest>